<link rel="stylesheet" href="">
<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bem Vindo</ion-title>
    <p class="subTitle">Entre para acessar sua conta</p>
  </div> 
  
  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-input placeholder="username" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input placeholder="password" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="forgotPassaword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F;">Esqueceu a senha?</a>
      </div>
      <div class="signupLink">
        <p> Novo aqui?<a [routerLink]="['/signup']" style="color:#FFC33F;">Cadastrar-se</a></p>
      </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button [routerLink]="['/home']">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
